@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300;400;500&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "JetBrains Mono", monospace;
}

.container-abt {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  padding-bottom: 3vh;
  padding-top: 3vh;
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.6);
}
.container-abt .aboutus {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #191919;
}
.container-abt .aboutus p {
  font-family: "JetBrains Mono", monospace;
  font-size: 35px;
  color: #f4f0bb;
}
.container-abt .cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #f4f0bb;
}
.container-abt .cards .card1,
.container-abt .cards .card2,
.container-abt .cards .card3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 20px;
  background: #272727;
  transition: box-shadow 0.2s;
}
.container-abt .cards .card1 p,
.container-abt .cards .card2 p,
.container-abt .cards .card3 p {
  font-size: 20px;
  padding-bottom: 10px;
}
.container-abt .cards .card1 .platforms img,
.container-abt .cards .card2 .platforms img,
.container-abt .cards .card3 .platforms img {
  margin: 5px;
  width: 45px;
  height: 45px;
  filter: invert(1);
}
.container-abt .cards .card1 .platforms .github:hover, .container-abt .cards .card1 .platforms .linkedin:hover, .container-abt .cards .card1 .platforms .instagram:hover,
.container-abt .cards .card2 .platforms .github:hover,
.container-abt .cards .card2 .platforms .linkedin:hover,
.container-abt .cards .card2 .platforms .instagram:hover,
.container-abt .cards .card3 .platforms .github:hover,
.container-abt .cards .card3 .platforms .linkedin:hover,
.container-abt .cards .card3 .platforms .instagram:hover {
  filter: invert(0.85);
}
.container-abt .card1:hover,
.container-abt .card2:hover,
.container-abt .card3:hover {
  box-shadow: 0px 0px 30px 4px rgba(0, 0, 0, 0.75);
  transition: box-shadow 0.2s;
}